<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arr.cate">
<uses-permission android:name="android.permission.INTERNET"/>


    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
<!--百度地图-->
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".contorller.app.MyApp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".contorller.activity.MainActivity" android:windowSoftInputMode="stateHidden|stateUnchanged|adjustPan|stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".contorller.activity.LoginActivity"/>
        <activity android:name=".contorller.activity.MenuActivity"/>
        <activity android:name=".contorller.activity.MapActivity"/>
        <activity android:name=".contorller.activity.ConcludeActivity"/>
        <activity android:name=".contorller.activity.ShopCarActivity"/>
        <activity android:name=".contorller.activity.ChangePassWordActivity"/>
        <activity android:name=".contorller.activity.LockActivity"/>
        <activity android:name=".contorller.activity.SettingPasswordActivity"/>
        <activity android:name=".contorller.activity.WelcomeActivity"/>
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoSelectorActivity"></activity>
        <activity android:name="com.zzti.fengyongge.imagepicker.PhotoPreviewActivity"></activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <meta-data android:name="Mob-AppKey" android:value="1fa9f2eaae8a7"/>
        <meta-data android:name="Mob-AppSecret" android:value="91dd47acc56be193102c6ae625363898"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5996ca96a325110e500019b9" >
        </meta-data>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>







        <receiver android:name=".contorller.fragment.PersonalFragment$Receiver">
            <intent-filter android:priority="1000">
                <action android:name="com.xiazdong"/>
            </intent-filter>
        </receiver>

        <meta-data android:name="com.amap.api.v2.apikey" android:value="d20380f6f023b9e56284f2d9e1b33bb4">

        </meta-data>
    </application>

</manifest>